torch # Or follow the pytorch installation instruction
torchvision

# Image loading and plots
scikit-learn
tensorboard
opencv-python

# Mesh related packages
plyfile
pandas

# Misc.
tqdm
easydict
yaml